@model IEnumerable<admin.Models.Donation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr class="table-active">
            <th scope="row">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Discreption)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.PickUp)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.ImgData)
            </th>
            <th scope="row">
                @Html.DisplayNameFor(model => model.Available)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-primary">
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Discreption)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.PickUp)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.ImgData)
                    @*<img src="data:image/png;base64,@Convert.ToBase64String(@item.ImgData)" class="img-fluid" width="150" />*@
                </td>
                <td scope="row">
                    @if (!item.Available)
                    {
                        <a asp-action="MakeAvailable" asp-controller="Donations" asp-route-id="@item.DonationID">Adopt</a>
                    }

                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DonationID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DonationID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DonationID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

